body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    max-width: 360px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

label {
    font-weight: bold;
}

.logout-link {
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    margin-top: 20px; /* Espaço acima do link */
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.logout-link:hover {
    background-color: #d32f2f;
}
